@import 'src/SassPartials';

.loader {
    display: flex;
    width: 100%;
    align-items: center;
}

.item-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner {
        width: 100%;
        background-color: mix(#000, $primary, 30%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $base-padding 0;
        border-radius: $base-border-radius;
        margin-top: $base-margin * 1.5;

        h1 {
            color: #fff;
        }

        h2 {
            color: mix(#fff, $primary, 70%);
        }
    }

    button {
        margin-bottom: $base-margin * 1.5;
        font-size: $base-font-size * 1.5;
    }
}