@import 'src/SassPartials';

.dropdown {
    position: absolute;
    top: 70px;
    width: 400px;
    background-color: $primary;
    border: $base-border-thickness * 2 solid mix(black, $primary, 10%);
    border-radius: $base-border-radius;
    padding: $base-padding $base-padding;
    overflow: hidden;
    z-index: 3;
    display: grid;
}

@media (max-width: map-get($breakpoints, "lg")) {
    .dropdown {
        position: relative;
        top: 0;
        width: 100%;
        overflow: visible;
    }
}