@import 'src/SassPartials';

.stock-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $base-margin;

    .size-selector {
        display: flex;
        align-items: center;
        padding: $base-padding;

        select {

            padding: $base-padding;
            margin-left: $base-margin;
            background-color: #ffff;
            border: $base-border-thickness * 2 solid $primary;
            border-radius: $base-border-radius * 0.5;

            cursor: pointer;

            option {

                padding: $base-padding;

            }
        }
    }

}