@import 'src/SassPartials';

.item-counter {
    display: flex;
    justify-content: flex-start;

    .counter {
        display: flex;
        background-color: #fff;
        border: $base-border-thickness solid $primary;
        padding: $base-padding * 0.5 $base-padding * 0.5;
        border-radius: $base-border-radius;
        align-items: center;
        justify-content: space-around;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;


        p {
            font-size: $font-size-lg;
            margin: $base-margin;
        }

        .counter-btn {
            width: 24px;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

        }
    }

    .add-to-cart {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: $base-font-size;
    }
}